<section #sectionContainer class="min-h-screen grid place-items-center bg-deep-night relative overflow-hidden">

    @if (!isForgiven()) {
    <div class="z-10 text-center flex flex-col gap-12">

        <h2 class="text-4xl md:text-6xl font-romantic text-white mb-8">
            One Last Question... <br>
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-romantic-pink to-love-red">Are you still angry at me?</span>

        </h2>

        <div class="flex flex-col md:flex-row gap-20 items-center justify-center h-[300px]">

            <div class="relative w-48 h-16">
                <button (mouseover)="moveButton()" (click)="moveButton()" [style]="buttonStyle"
                    class="inset-0 px-8 py-3 bg-gray-700 text-gray-300 rounded-full font-bold cursor-pointer transition-colors hover:bg-red-500 hover:text-white whitespace-nowrap z-50">
                    Yes
                </button>
            </div>

            <button (click)="onForgive()"
                class="px-10 py-5 bg-gradient-to-r from-romantic-pink to-love-red text-white text-xl font-bold rounded-full shadow-[0_0_20px_rgba(255,77,109,0.5)] transform transition-all hover:scale-110 hover:shadow-[0_0_40px_rgba(255,77,109,0.8)] animate-pulse-slow">
                Okay Fine, I Forgive You 😌
            </button>
        </div>
    </div>
    } @else {
    <div
        class="absolute inset-0 z-50 flex flex-col items-center justify-center bg-gradient-to-br from-[#2a0e11]/90 via-[#4a101d]/85 to-black/90 backdrop-blur-sm animate-fade-in-up">
        <h1
            class="text-6xl md:text-8xl font-romantic text-white drop-shadow-[0_0_15px_rgba(255,77,109,1)] mb-8 text-center px-4">
            Yay! She Smiled 😭❤️
        </h1>
        <div class="text-4xl animate-bounce">
            🥰
        </div>
        <p class="mt-8 text-white/80 font-body text-xl">
            (Now scroll down for my final promise)
        </p>
        <button (click)="isForgiven.set(false)" class="mt-12 text-sm text-white/50 hover:text-white underline">
            Replay Moment
        </button>
    </div>
    }

</section>