@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.15);
    }

    /* Lub */
    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.25);
    }

    /* Dub */
    56% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.animate-heartbeat {
    animation: heartbeat 0.8s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}