@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300;400;600&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #1a0b2e;
    color: #fff;
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1a0b2e;
}

::-webkit-scrollbar-thumb {
    background: #FFC1CC;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF4D6D;
}

/* Base Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Great Vibes', cursive;
}